

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(250 219 179 / 76%);
    padding: 20px 50px;
}

nav li {
    font-size: 1.5em;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

#nav-title {
    margin-right: auto;
    font-size: 1.1em;
}

 li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

 li li {
    padding: 0 10px;
    font-size: 0.7em;
}

 a {
    text-decoration: none;
    color: #555;
    transition: all 0.3s ease 0s;
}

.active {
    color: #9c2222;
}

 a:hover {
    color: rgb(192, 0, 80);
}

