<header>
<h1 id="nav-title"></h1>
<nav>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/jeu">Jeu </a></li>
        <li><a href="/personnages">Liste des personnages</a>
            <ul>
                <li><a href="/personnages/creer">Rajouter un personnage</a></li>
            </ul>
        </li>

        <li><a href="/groupes">Liste des équipages</a>
            <ul>
                <li><a href="/groupes/creer">Rajouter un équipage</a></li>
            </ul>
        </li>
    </ul>
</nav>

</header>
