<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Détails</th>
        </tr>
    </thead>
    <tbody>
        @for (personnage of persoList; track personnage.id){
        <tr [ngClass]="{ 'liked': personnage.userHasLiked }">
            <td>{{personnage.nom | uppercase}} @if (personnage.particule === "D") { {{personnage.particule}} . } </td>
            <td>{{personnage.prenom | lowercase }}</td>
            <td><button (click)="onViewFichePerso(personnage)">Détails</button></td>
        </tr>
                }
    </tbody>
</table>
