<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Age
                <div class="button" (click)="onTrierParAge()"> TRIER @if (triAscendantAge) {
                <span>⬆</span>
                } @else {
                <span>⬇</span>
                }</div>

            </th>
            <th>Équipage</th>
            <th>Status</th>
            <th>Détails</th>
        </tr>
    </thead>
        @if (isLoading) {
            <th colspan="5" class="container-spin">
                <div class="spinner"></div>
                <tr colspan="5">Chargement des personnages...</tr>
            </th>
            }
    <tbody>
        @for (personnage of persoList; track personnage.id){

        <tr>
            <td>{{personnage.name}} </td>
            <td>@if (personnage.age) { {{personnage.age}} } @else { age inconnu } </td>
            <td>@if (personnage.crew) { {{personnage.crew.name}} } </td>
            <td>@if (personnage.status) { {{personnage.status}} } @else { ---- } </td>
            <td><button (click)="onViewFichePerso(personnage)">Détails</button></td>
        </tr>
        }
    </tbody>
</table>
