<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Nombre de Membres</th>
            <th>Détails</th>
        </tr>
    </thead>
    <tbody>

        @for (groupe of groupeList; track groupe.id){
        <tr>
            <td>{{groupe.name}}</td>
            <td>{{nbMembres[groupe.id] }}</td>
            <td><button (click)="onViewFicheGroupe(groupe)">Détails</button></td>
        </tr>
        }
    </tbody>
</table>
<!--
<div class="liste">
    <ul>
            @for (groupe of groupeList; track groupe.id){
            <li> new Groupe( {{groupe.id}},"{{groupe.name}}", {{nbMembres[groupe.id] }}), </li>
            }
</ul>

</div>-->
